---
layout: default
uri: /
meta_description: JL Recrutement est un cabinet de recrutement indépendant IT spécialisé sur la technologie PHP.
---

<div class="column left-column">
  {% include business-card.html %}
  <div class="row bottom-row hero hide-mobile">
    <div class="hero-holder">
      <p>
        Développeurs PHP, <br />
        passez à l'étape d’après !
      </p>
      <p>
        Consultez le
        <a href="{{ site.data.routes.job_board }}" target="_blank">Job Board</a>
        et <br />
        <a href="{{ site.data.routes.linkedin }}" target="_blank">contactez-moi</a>.
      </p>
      <p>
          Le <a href="{{ site.url }}{{ site.data.routes.burnout }}">burn-out</a> chez<br/>
          les développeurs
      </p>
    </div>
  </div>
</div> <!-- left-column end -->

<div class="column right-column">
  <div class="row top-row tagline">
    <p>
      <a href="{{ site.data.routes.open_source }}" target="_blank">
        J’arrête le recrutement propriétaire, <br />
        je passe à l’open source !
      </a>
    </p>
  </div>

  <div class="row hide-desktop">
    <div class="hero">
      <p>
        Développeurs PHP, <br />
        passez à l'étape d’après !
      </p>
      <p>
        Consultez le
        <a href="{{ site.data.routes.job_board }}" target="_blank">Job Board</a>
        et
        <a href="{{ site.data.routes.linkedin }}" target="_blank">contactez-moi</a>.
      </p>
        <p>
            Le <a href="{{ site.url }}{{ site.data.routes.burnout }}">burn-out</a> chez<br/>
            les développeurs
        </p>
    </div>
  </div>

    {% include illustration.html %}
</div> <!-- right-column end -->
