//
// Blog
// --------------------------------------------------------------------------

.blog {
    margin: 0 0 40px;
}


// Post
// --------------------------------------------------------------------------

.blog-post {
    margin: 0 0 20px;
    padding: 0 0 30px;
    background: transparent url('../images/separator.svg') 50% 100% no-repeat;

    &:last-child {
        padding: 0;
        background: none;
    }
}

.blog-post__header {
    margin: 0 0 15px;
    padding: 0 0 10px;
    border-bottom: 1px solid $color-secondary;
}

.blog-post__title {
    margin: 0 0 5px;
    font-size: 28px;
    font-weight: 700;
    color: $color-primary;

    a {
        text-decoration: none;
        color: $color-primary;

        &:hover,
        &:focus {
            border-bottom: 1px dashed $color-primary;
        }
    }
}

.blog-post__date {
    font-size: 15px;
    color: $gray-light;
}

.blog-content {
    font-size: ($font-size-base - 1px);

    img {
        margin: 0 auto;
        border: 4px solid $color-primary;
    }

    blockquote {
        margin: 1em;
        padding: 0 20px 0 40px;
        font-size: $font-size-base;
        font-weight: 300;
        color: $color-primary;
        background: transparent url('../images/icons/icon-quote.svg') 0 0 no-repeat;
    }
}
