//
// Carousel
// --------------------------------------------------------------------------


// Variables
// --------------------------------------------------------------------------

$carousel-text-shadow:             0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:           $gray-light !default;
$carousel-control-width:           15% !default;
$carousel-control-opacity:         .5 !default;
$carousel-control-font-size:       20px !default;

$carousel-indicator-active-bg:     $color-primary !default;
$carousel-indicator-border-color:  $color-primary !default;

$carousel-caption-color:           #fff !default;


// Wrapper and base class
// --------------------------------------------------------------------------

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;

    > .item {
        display: none;
        position: relative;
        @include transition(.6s ease-in-out left);

        // Account for jankitude on images
        > img,
        > a > img {
            line-height: 1;
        }

        // WebKit CSS3 transforms for supported devices
        @media all and (transform-3d), (-webkit-transform-3d) {
            @include transition-transform(0.6s ease-in-out);
            @include backface-visibility(hidden);
            @include perspective(1000);

            &.next,
            &.active.right {
                @include translate3d(100%, 0, 0);
                left: 0;
            }
            &.prev,
            &.active.left {
                @include translate3d(-100%, 0, 0);
                left: 0;
            }
            &.next.left,
            &.prev.right,
            &.active {
                @include translate3d(0, 0, 0);
                left: 0;
            }
        }
    }

    > .active,
    > .next,
    > .prev {
        display: block;
    }

    > .active {
        left: 0;
    }

    > .next,
    > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    > .next {
        left: 100%;
    }
    > .prev {
        left: -100%;
    }
    > .next.left,
    > .prev.right {
        left: 0;
    }

    > .active.left {
        left: -100%;
    }
    > .active.right {
        left: 100%;
    }

}


// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.
// --------------------------------------------------------------------------

.carousel-indicators {
    position: absolute;
    top: 105%;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        width:  10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        border: 1px solid $carousel-indicator-border-color;
        border-radius: 10px;
        cursor: pointer;

        // IE8-9 hack for event handling
        //
        // Internet Explorer 8-9 does not support clicks on elements without a set
        // `background-color`. We cannot use `filter` since that's not viewed as a
        // background color by the browser. Thus, a hack is needed.
        // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
        //
        // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
        // set alpha transparency for the best results possible.
        background-color: #000 \9; // IE8
        background-color: rgba(0,0,0,0); // IE9
    }

    .active {
        margin: 0;
        width:  12px;
        height: 12px;
        background-color: $carousel-indicator-active-bg;
    }
}


// Media queries
// --------------------------------------------------------------------------

@media screen and (min-width: $screen-sm-min) {
    // Move up the indicators
    //.carousel-indicators {
    //    bottom: 20px;
    //}
}
