//
// Introduction
// --------------------------------------------------------------------------

.introduction {
    margin: 0 0 20px;
    text-align: center;
}

.introduction-block {
    margin: 0 0 40px;

    &:last-child {
        margin: 0;
    }
}

.introduction-block__title {
    margin-bottom: 20px;
    font-size: 22px;
}


// Media queries
// --------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {
    .introduction-block__title {
        font-size: 26px;
    }
}

@media (min-width: $screen-md-min) {
    .introduction-block {
        padding: 0 40px;
    }
}
