//
// Jobs
// --------------------------------------------------------------------------

.jobs {
    margin: 0 0 40px;
}


// Title
// --------------------------------------------------------------------------

.job-title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
}

// Details
// --------------------------------------------------------------------------

.job-details {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 14px;
    list-style: none;
}

.job-details__list {
    margin: 0;
    padding: 0 0 0 25px;
    font-weight: 400;
    background: transparent url('../images/icons/icon-company.svg') 0 2px no-repeat;
    background-size: auto 15px;

    &.company {
        background-position: 1px 2px;
    }

    &.location {
        background-image: url('../images/icons/icon-location.svg');
        background-position: 2px 2px;
    }

    &.salary {
        background-image: url('../images/icons/icon-money.svg');
        background-position: 0 5px;
        background-size: 15px auto;
    }
}


// Content
// --------------------------------------------------------------------------

.job-content {
    font-size: 14px;
    color: lighten($gray, 5%);
}

.job-footer {
    padding-top: 0;
    text-align: center;
}
