//
// Technology
// --------------------------------------------------------------------------

.technology {
    margin: 0 0 20px;
    padding: 20px 0 0;
    text-align: center;

    ul {
        display: table;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    li {
        display: table-cell;
        padding: 0 10px;
        vertical-align: middle;
    }
}


// Icons
// --------------------------------------------------------------------------

.technology__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 24px auto;

    &.java {
        height: 32px;
        background-image: url('../images/icons/icon-java.svg');
    }

    &.python {
        background-image: url('../images/icons/icon-python.svg');
    }

    &.php {
        width: 100px;
        height: 49px;
        background-image: url('../images/icons/icon-php.svg');
        background-size: 100px auto;
    }

    &.ruby {
        height: 23px;
        background-image: url('../images/icons/icon-ruby.svg');
    }

    &.javascript {
        height: 18px;
        background-image: url('../images/icons/icon-javascript.svg');
    }
}


// Media queries
// --------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {
    .technology {
        li {
            padding: 0 15px;
        }
    }

    .technology__icon {
        width: 30px;
        height: 30px;
        background-size: 30px auto;

        &.java {
            height: 40px;
        }

        &.php {
            width: 110px;
            height: 54px;
            background-size: 110px auto;
        }

        &.ruby {
            height: 29px;
        }

        &.javascript {
            height: 23px;
        }
    }
}
