---
layout: default
title: Burnout
meta_description: JL Recrutement est un cabinet de recrutement indépendant IT spécialisé sur la technologie PHP.
uri: /burnout
---

<div class="column left-column">
    <div class="mb-4">
        {% include business-card.html %}
    </div>
    <div class="d-flex flex-column justify-content-center flex-grow-1">
        {% for testimony in site.data.burnout.testimonies %}
        <div class="d-flex flex-row align-items-center mb-3">
            <img src="../images/elephant-shadow.svg" class="list-icon mr-4">
            <div class="h3 my-0">
                <a href="{{ testimony.path }}" class="text-underline">
                    Témoignage {{ forloop.index }}
                </a>
                <p class="my-1">{{ testimony.title }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="column right-column">
    <div class="d-flex flex-row justify-content-end align-items-center">
        <a href="{{ site.data.routes.slack }}">
            <div class="rounded bg-white mr-3 p-1">
                <img src="/images/slack.svg" alt="Slack" class="list-icon"/>
            </div>
        </a>
            Rejoignez <a href="{{ site.data.routes.slack }}">le Slack<br/>
        <p class="h3 my-0">
            Rejoignez le Slack<br/>
            pour parler de votre expérience.
            </a>
        </p>
    </div>
    {% include illustration.html %}
</div>
