<footer class="footer">
    <div class="container">
        <ul class="footer-social">
            {% if site.twitter_username %}
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="footer-social__icon twitter">Retrouvez-moi sur Twitter</span>
                    </a>
                </li>
            {% endif %}
            {% if site.linkedin_username %}
                <li>
                    <a href="https://fr.linkedin.com/in/{{ site.linkedin_username }}">
                        <span class="footer-social__icon linkedin">Retrouvez-moi sur LinkedIn</span>
                    </a>
                </li>
            {% endif %}
            {% if site.googleplus_username %}
                <li>
                    <a href="https://www.google.com/+{{ site.googleplus_username }}">
                        <span class="footer-social__icon googleplus">Retrouvez-moi sur Google+</span>
                    </a>
                </li>
            {% endif %}
            {% if site.viadeo_username %}
                 <li>
                    <a href="http://www.viadeo.com/fr/profile/{{ site.viadeo_username }}">
                        <span class="footer-social__icon viadeo">Retrouvez-moi sur Viadeo</span>
                    </a>
                </li>
            {% endif %}
            {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        <span class="footer-social__icon github">Retrouvez-moi sur Github</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="footer-baseline">
            <span>JL Recrutement est un cabinet de recrutement IT spécialisé sur la technologie PHP.</span>
        </div>
    </div>
</footer>
