@import "variables";

body {
  background-color: $mint;
}

.columns {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .hide-desktop {
    display: none;
  }
  html, body {
    height: 100vh;
    min-height: 600px;
  }
  body {
    padding: 4rem;
  }
  .columns {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  .columns {
    flex-direction: column;
  }
  body {
    margin: 1rem;
  }
}
