img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-weight: 300;
}
