//
// Footer
// --------------------------------------------------------------------------

.footer {
    background-color: $footer-bg;
    border-top: 10px solid $color-primary;
}


// Social
// --------------------------------------------------------------------------

.footer-social {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    list-style: none;

    li {
        display: inline-block;
        padding: 0 5px;
    }

    a {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #fff;
        background-color: $color-thirdly;
        border-radius: 40px;
    }
}

.footer-social__icon {
    @include text-hide();
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 24px auto;

    &.twitter {
        height: 20px;
        margin: -10px 0 0 -12px;
        background-image: url('../images/icons/icon-twitter.svg');
    }

    &.linkedin {
        height: 23px;
        margin: -11.5px 0 0 -12px;
        background-image: url('../images/icons/icon-linkedin.svg');
    }

    &.googleplus {
        height: 24px;
        margin: -12px 0 0 -12px;
        background-image: url('../images/icons/icon-googleplus.svg');
    }

    &.viadeo {
        height: 27px;
        margin: -13.5px 0 0 -12px;
        background-image: url('../images/icons/icon-viadeo.svg');
    }

    &.github {
        background-image: url('../images/icons/icon-github.svg');
    }
}


// Baseline
// --------------------------------------------------------------------------

.footer-baseline {
    margin: 0 0 15px;
    font-size: $font-size-small;
    font-weight: 300;
    text-align: center;
    color: #fff;
}


// Media queries
// --------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {
    .footer-social {
        a {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            @include transition(background-color 0.1s linear);

            &:hover,
            &:focus {
                background-color: darken($color-thirdly, 20%);
            }
        }
    }

    .footer-social__icon {
        width: 28px;
        height: 28px;
        margin: -14px 0 0 -14px;
        background-size: 28px auto;

        &.twitter {
            height: 23px;
            margin: -11.5px 0 0 -15px;
        }

        &.linkedin {
            height: 27px;
            margin: -13.5px 0 0 -15px;
        }

        &.googleplus {
            height: 29px;
            margin: -14.5px 0 0 -15px;
        }

        &.viadeo {
            height: 32px;
            margin: -16px 0 0 -15px;
        }
    }

    .footer-baseline {
        font-size: $font-size-base;
    }
}
