//
// Header
// --------------------------------------------------------------------------

.header {
    position: relative;
    margin: 0 0 30px;
    color: #fff;
    background-color: $color-primary;
    border-bottom: 10px solid $color-secondary;
}


// Logo
// --------------------------------------------------------------------------

.header-logo {
    display: block;
    margin: 0;
    padding: 20px 0;

    a {
        display: block;
        width: 175px;
        height: 22px;
        background: transparent url('../images/logo.svg') 0 0 no-repeat;
        background-size: auto 22px;
        @include transition(opacity 0.1 linear);

        &:hover,
        &:focus {
            @include opacity(0.8);
        }

        span {
            @include sr-only;
        }
    }
}


// Navigation
// --------------------------------------------------------------------------

.header-navigation {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        border-top: 1px solid darken($color-primary, 5%);
    }
}

.header-navigation__link {
    display: block;
    font-size: $font-size-small;
    line-height: 36px;
    color: #fff;
    border-top: 1px solid lighten($color-primary, 5%);

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
    }

    &.current {
        padding: 0 0 0 10px;
        background-color: lighten($color-primary, 3%);
        border-top-color: lighten($color-primary, 8%);
    }
}

.header-navigation-toggle {
    position: absolute;
    top: 19px;
    right: 15px;
    padding: 3px 8px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: $border-radius-base;
}


// Media queries
// --------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {
    .header-logo {
        float: left;
        padding: 17px 15px;

        a {
            width: 287px;
            height: 36px;
            background-size: auto 36px;
        }
    }

    .header-navigation {
        float: right;
        display: block;

        ul {
            display: table;
        }

        li {
            display: table-cell;
            padding: 0 15px;
            vertical-align: middle;
            border: none;
        }
    }

    .header-navigation__link {
        font-size: $font-size-base;
        line-height: 66px;
        border-top: 4px solid transparent;
        @include transition(border-color 0.1s linear);

        &:hover,
        &:focus,
        &.current {
            padding: 0;
            text-decoration: none;
            background-color: transparent;
            border-top-color: #fff;
        }
    }

    .header-navigation-toggle {
        display: none;
    }
}
